#eye2 {
    position: absolute;
    right: 30px;
    top: 44px;
}
#eye1{
    display: none;
    position: absolute;
    right: 30px;
    top: 44px;
}
#alert1{
    display: none;
}
#alert2{
    display: none;
}
#alert3{
    display: none;
}
.password{
    position: relative;
}